# Pandas - Data Anaysis Library

Pandas is a fast, powerfull, fleiyble and easy to use open source dataanalysis and manipulation tool, built on top of the Phyton  Programming language

## 1. Importing Pandas

In [2]:
import pandas as pd

In [8]:
pd.__version__

'1.3.4'

Pada penulisan __Series__, harus menggunakan huruf besar pada awal kata __Series__

## 2. Series

In [7]:
pd.Series(data = [1,2,3,4])

0    1
1    2
2    3
3    4
dtype: int64

In [5]:
my_series = (5,7,8,9,)
pd.Series(data=my_series)

0    5
1    7
2    8
3    9
dtype: int64

## 3. DataFrame

In [15]:
test = pd.DataFrame(data = {"Nama" : ["Jonni","Joko","Jabar"],
                           "Umur": [11,12,9],
                           "Kelas": [5,6,4]},
                   dtype = float)
test

C:\Users\raris\AppData\Local\Temp/ipykernel_17484/2130562855.py:1: FutureWarning: Could not cast to float64, falling back to object. This behavior is deprecated. In a future version, when a dtype is passed to 'DataFrame', either all columns will be cast to that dtype, or a TypeError will be raised
  test = pd.DataFrame(data = {"Nama" : ["Jonni","Joko","Jabar"],

    Nama  Umur  Kelas
0  Jonni  11.0    5.0
1   Joko  12.0    6.0
2  Jabar   9.0    4.0

In [14]:
test.dtypes

Nama      object
Umur     float64
Kelas    float64
dtype: object

# Creating DataFrame from Dictionary

In [26]:
df = {'col_A':[14,15,6,25], 'Col_B':['r1', 'a3', 'b6','d9']}
df

{'col_A': [14, 15, 6, 25], 'Col_B': ['r1', 'a3', 'b6', 'd9']}

In [23]:
df0 = {'col_1': [3, 2, 1, 0], 'col_2': ['a', 'b', 'c', 'd']}
df0

{'col_1': [3, 2, 1, 0], 'col_2': ['a', 'b', 'c', 'd']}

In [27]:
df1 = pd.DataFrame(df) #Penulisan DataFrame juga harus huruf besar seperti terlihat di contoh
df1

   col_A Col_B
0     14    r1
1     15    a3
2      6    b6
3     25    d9

Specify orient = 'index' to create the DataFrame using dictionary keys as rows:

In [30]:
df2 = pd.DataFrame.from_dict(df, orient = 'index')
df2

        0   1   2   3
col_A  14  15   6  25
Col_B  r1  a3  b6  d9

When using 'Index' orientation, the columns name can be change specified (Manually):

In [40]:
df3 = pd.DataFrame.from_dict(df, orient = 'index', columns =['A', 'B', 'C', 'D'])
df3

        A   B   C   D
col_A  14  15   6  25
Col_B  r1  a3  b6  d9

In [44]:
df4 = pd.DataFrame.from_dict(df0, orient='index',
                       columns=['A', 'B', 'C', 'D'])
df4

       A  B  C  D
col_1  3  2  1  0
col_2  a  b  c  d

In [45]:
nyoba2 = pd.DataFrame(data= {"Nama" : ["Ahmad", "Joko", "Adi"],
                    "Umur": [12, 13, 15],
                    "Kelas": [6, 7, 8]}, dtype = float)
nyoba2

C:\Users\raris\AppData\Local\Temp/ipykernel_17484/1665290393.py:1: FutureWarning: Could not cast to float64, falling back to object. This behavior is deprecated. In a future version, when a dtype is passed to 'DataFrame', either all columns will be cast to that dtype, or a TypeError will be raised
  nyoba2 = pd.DataFrame(data= {"Nama" : ["Ahmad", "Joko", "Adi"],

    Nama  Umur  Kelas
0  Ahmad  12.0    6.0
1   Joko  13.0    7.0
2    Adi  15.0    8.0

We can change the column name

In [49]:
nyoba2.columns # menampilkan detil dari kolom yang ada d nyoba2

Index(['Nama', 'Umur', 'Kelas'], dtype='object')

In [51]:
nyoba2.columns = ['NAME', 'AGE', 'CLASS'] # untuk mengganti nama d kolom (tp ini bergunajika hanya ada beberapa kolom saja)
nyoba2

    NAME   AGE  CLASS
0  Ahmad  12.0    6.0
1   Joko  13.0    7.0
2    Adi  15.0    8.0

In [55]:
nyoba2.columns.values # menampilkan dalamm bentuk arrays

array(['NAME', 'AGE', 'CLASS'], dtype=object)

Untuk mengganti kolom tertentu saja

In [56]:
nyoba2.columns[2]

'CLASS'

In [58]:
nyoba2.columns.values[2] = 'kelas'

In [61]:
nyoba2.columns.values[0] = 'name'

In [62]:
nyoba2

    name   AGE  kelas
0  Ahmad  12.0    6.0
1   Joko  13.0    7.0
2    Adi  15.0    8.0

Merubah kolom menjadi uppercase secara keseluruhan (tidak satu persatu)

In [63]:
data = {'Vegetables':['broccoli', 'carrot', 'onion', 'celery'],
       'Price': [3,4,5,6]}
data

{'Vegetables': ['broccoli', 'carrot', 'onion', 'celery'],
 'Price': [3, 4, 5, 6]}

In [70]:
data1 = pd.DataFrame(data, columns = ['Vegetables', 'Price'])
data1

  Vegetables  Price
0   broccoli      3
1     carrot      4
2      onion      5
3     celery      6

In [71]:
data1['Vegetables'] = data1['Vegetables'].str.upper() #change all the character to uppercase
print(data1)

  Vegetables  Price
0   BROCCOLI      3
1     CARROT      4
2      ONION      5
3     CELERY      6

In [72]:
nyoba2

    name   AGE  kelas
0  Ahmad  12.0    6.0
1   Joko  13.0    7.0
2    Adi  15.0    8.0

In [80]:
nyoba2.drop(columns = ['kelas'])

KeyError: "['kelas'] not found in axis"

In [81]:
nyoba2.drop(columns = [2])

KeyError: '[2] not found in axis'

In [78]:
df3

        A   B   C   D
col_A  14  15   6  25
Col_B  r1  a3  b6  d9

In [79]:
df3.drop(columns = ['B'])

        A   C   D
col_A  14   6  25
Col_B  r1  b6  d9