# 5. Replace Missing Values

__`fillna()`__ function in Pandas is used to replace missing values with another values. 

Missing values can be replaced by:
1. Special value
2. Aggregate value, such as mean, median, etc

## Replacing with scalar

In [18]:
import numpy as np
import pandas as pd

In [19]:
new_df = pd.DataFrame({"col_a": [1, 2, 4, 1, np.nan, np.nan, 5],
                      "col_b": [3,7,np.nan, 9, None, 5, 8],
                      "col_c": ["a","?","x","y","--", np.nan, "r"],
                      "col_d": [True, True,np.nan, None, False, True, False]})
new_df

   col_a  col_b col_c  col_d
0    1.0    3.0     a   True
1    2.0    7.0     ?   True
2    4.0    NaN     x    NaN
3    1.0    9.0     y   None
4    NaN    NaN    --  False
5    NaN    5.0   NaN   True
6    5.0    8.0     r  False

In [20]:
df8 = new_df.replace({"?": np.nan, "--": np.nan})
df8

   col_a  col_b col_c  col_d
0    1.0    3.0     a   True
1    2.0    7.0   NaN   True
2    4.0    NaN     x    NaN
3    1.0    9.0     y   None
4    NaN    NaN   NaN  False
5    NaN    5.0   NaN   True
6    5.0    8.0     r  False

In [21]:
df_withoutmissing=df8

In [22]:
df_withoutmissing

   col_a  col_b col_c  col_d
0    1.0    3.0     a   True
1    2.0    7.0   NaN   True
2    4.0    NaN     x    NaN
3    1.0    9.0     y   None
4    NaN    NaN   NaN  False
5    NaN    5.0   NaN   True
6    5.0    8.0     r  False

In [23]:
df_withoutmissing.fillna(3)

   col_a  col_b col_c  col_d
0    1.0    3.0     a   True
1    2.0    7.0     3   True
2    4.0    3.0     x      3
3    1.0    9.0     y      3
4    3.0    3.0     3  False
5    3.0    5.0     3   True
6    5.0    8.0     r  False

In [24]:
df_withoutmissing=df8

In [27]:
df_withoutmissing.iloc[:, 2].mode()

0    a
1    r
2    x
3    y
dtype: object

In [28]:
df_withoutmissing.iloc[:, 2].mode()[2]

'x'

In [29]:
df_withoutmissing.iloc[:,2]=df_withoutmissing.iloc[:,2].fillna(df_withoutmissing.iloc[:,2].mode()[1])

In [30]:
df_withoutmissing

   col_a  col_b col_c  col_d
0    1.0    3.0     a   True
1    2.0    7.0     r   True
2    4.0    NaN     x    NaN
3    1.0    9.0     y   None
4    NaN    NaN     r  False
5    NaN    5.0     r   True
6    5.0    8.0     r  False