# Pandas - Data Analysis Library

Pandas is a fast, powerful, flexible and easy to use open source data analysis and manipulation tool,
built on top of the Python programming language.

## Importing Pandas

In [ ]:
import pandas as pd

In [ ]:
pd.__version__

'1.1.3'

## Series

In [ ]:
pd.Series(data = [1,2,3,4])

0    1
1    2
2    3
3    4
dtype: int64

## DataFrame

In [ ]:
nyoba2 = pd.DataFrame(data= {"Nama" : ["Ahmad", "Joko", "Adi"],
                    "Umur": [12, 13, 15],
                    "Kelas": [6, 7, 8]}, dtype = float)
nyoba2

    Nama  Umur  Kelas
0  Ahmad  12.0    6.0
1   Joko  13.0    7.0
2    Adi  15.0    8.0

In [ ]:
nyoba2.dtypes

Nama      object
Umur     float64
Kelas    float64
dtype: object

![](pandas/series-and-dataframe.width-1200.png)

## Creating DataFrame from dictionary

In [ ]:
df = {'col_1': [3, 2, 1, 0], 'col_2': ['a', 'b', 'c', 'd']}

In [ ]:
df0 = pd.DataFrame(df)
df0

   col_1 col_2
0      3     a
1      2     b
2      1     c
3      0     d

Specify orient='index' to create the DataFrame using dictionary keys as rows:

In [ ]:
df2 = pd.DataFrame.from_dict(df, orient='index')
df2

       0  1  2  3
col_1  3  2  1  0
col_2  a  b  c  d

When using the ‘index’ orientation, the column names can be specified manually:

In [ ]:
df3 = pd.DataFrame.from_dict(df, orient='index',
                       columns=['A', 'B', 'C', 'D'])
df3

       A  B  C  D
col_1  3  2  1  0
col_2  a  b  c  d

We can change the columns' name

In [ ]:
nyoba2

    Nama  Umur  Kelas
0  Ahmad  12.0    6.0
1   Joko  13.0    7.0
2    Adi  15.0    8.0

In [ ]:
nyoba2.columns

Index(['Nama', 'Umur', 'Kelas'], dtype='object')

In [ ]:
nyoba2.columns = ["NAMA", "UMUR", "KELAS"]

# Output
nyoba2

    NAMA  UMUR  KELAS
0  Ahmad  12.0    6.0
1   Joko  13.0    7.0
2    Adi  15.0    8.0

In [ ]:
nyoba2.columns.values[2]

'KELAS'

In [ ]:
nyoba2.columns.values[0] = "Nama"

In [ ]:
nyoba2

    Nama  UMUR  KELAS
0  Ahmad  12.0    6.0
1   Joko  13.0    7.0
2    Adi  15.0    8.0

In [ ]:
df3.drop(columns = ['B', 'C'])

       A  D
col_1  3  0
col_2  a  d

### Exercise 1

1. Create the following dataframe
![Capture[.]PNG](attachment:Capture[.]PNG)

2. Change "Location" into "City"

# Open CSV file

We will be using data of Uber drive in 2016. The data can be obtained from Kaggle (https://www.kaggle.com/zusmani/uberdrives)

In [ ]:
# if file is .txt and .csv open with pd.read_csv function
# if file is excel open with pd.read_xlsx

data = pd.read_csv("My Uber Drives - 2016.csv")
data

,START_DATE*,END_DATE*,CATEGORY*,START*,STOP*,MILES*,PURPOSE*
0,1/1/2016 21:11,1/1/2016 21:17,Business,Fort Pierce,Fort Pierce,5.1,Meal/Entertain
1,1/2/2016 1:25,1/2/2016 1:37,Business,Fort Pierce,Fort Pierce,5.0,NaN
2,1/2/2016 20:25,1/2/2016 20:38,Business,Fort Pierce,Fort Pierce,4.8,Errand/Supplies
3,1/5/2016 17:31,1/5/2016 17:45,Business,Fort Pierce,Fort Pierce,4.7,Meeting
4,1/6/2016 14:42,1/6/2016 15:49,Business,Fort Pierce,West Palm Beach,63.7,Customer Visit
...,...,...,...,...,...,...,...
1151,12/31/2016 13:24,12/31/2016 13:42,Business,Kar?chi,Unknown Location,3.9,Temporary Site
1152,12/31/2016 15:03,12/31/2016 15:38,Business,Unknown Location,Unknown Location,16.2,Meeting
1153,12/31/2016 21:32,12/31/2016 21:50,Business,Katunayake,Gampaha,6.4,Temporary Site
1154,12/31/2016 22:08,12/31/2016 23:51,Business,Gampaha,Ilukwatta,48.2,Temporary Site
1155,Totals,NaN,NaN,NaN,NaN,12204.7,NaN

### Basic Operation

In [ ]:
data.head()

,START_DATE*,END_DATE*,CATEGORY*,START*,STOP*,MILES*,PURPOSE*
0,1/1/2016 21:11,1/1/2016 21:17,Business,Fort Pierce,Fort Pierce,5.1,Meal/Entertain
1,1/2/2016 1:25,1/2/2016 1:37,Business,Fort Pierce,Fort Pierce,5.0,NaN
2,1/2/2016 20:25,1/2/2016 20:38,Business,Fort Pierce,Fort Pierce,4.8,Errand/Supplies
3,1/5/2016 17:31,1/5/2016 17:45,Business,Fort Pierce,Fort Pierce,4.7,Meeting
4,1/6/2016 14:42,1/6/2016 15:49,Business,Fort Pierce,West Palm Beach,63.7,Customer Visit

In [ ]:
data.tail()

,START_DATE*,END_DATE*,CATEGORY*,START*,STOP*,MILES*,PURPOSE*
1151,12/31/2016 13:24,12/31/2016 13:42,Business,Kar?chi,Unknown Location,3.9,Temporary Site
1152,12/31/2016 15:03,12/31/2016 15:38,Business,Unknown Location,Unknown Location,16.2,Meeting
1153,12/31/2016 21:32,12/31/2016 21:50,Business,Katunayake,Gampaha,6.4,Temporary Site
1154,12/31/2016 22:08,12/31/2016 23:51,Business,Gampaha,Ilukwatta,48.2,Temporary Site
1155,Totals,NaN,NaN,NaN,NaN,12204.7,NaN

In [ ]:
data.shape

(1156, 7)

In [ ]:
data.dtypes

START_DATE*     object
END_DATE*       object
CATEGORY*       object
START*          object
STOP*           object
MILES*         float64
PURPOSE*        object
dtype: object

### Convert data type

It can be seen that the START_DATE* and END_DATE* is object type data. While in fact, it is a date

In [ ]:
data1 = pd.DataFrame({"Cost":["5","5","7"],"Amount":[11,12,13],"Date": ["11-10-2020","12-10-2020","13-10-2020"]})
data1

  Cost  Amount        Date
0    5      11  11-10-2020
1    5      12  12-10-2020
2    7      13  13-10-2020

In [ ]:
data1.dtypes

Cost      object
Amount     int64
Date      object
dtype: object

In [ ]:
data1["Date"] = pd.to_datetime(data1["Date"])
data1.dtypes

Cost              object
Amount             int64
Date      datetime64[ns]
dtype: object

In [ ]:
data1["Cost"] = pd.to_numeric(data1["Cost"])
data1.dtypes

Cost               int64
Amount             int64
Date      datetime64[ns]
dtype: object

In [ ]:
data1

   Cost  Amount       Date
0     5      11 2020-11-10
1     5      12 2020-12-10
2     7      13 2020-10-13

In [ ]:
data1.dtypes

Cost               int64
Amount             int64
Date      datetime64[ns]
dtype: object

#### Apply to our dataframe

In [ ]:
data

,START_DATE*,END_DATE*,CATEGORY*,START*,STOP*,MILES*,PURPOSE*
0,1/1/2016 21:11,1/1/2016 21:17,Business,Fort Pierce,Fort Pierce,5.1,Meal/Entertain
1,1/2/2016 1:25,1/2/2016 1:37,Business,Fort Pierce,Fort Pierce,5.0,NaN
2,1/2/2016 20:25,1/2/2016 20:38,Business,Fort Pierce,Fort Pierce,4.8,Errand/Supplies
3,1/5/2016 17:31,1/5/2016 17:45,Business,Fort Pierce,Fort Pierce,4.7,Meeting
4,1/6/2016 14:42,1/6/2016 15:49,Business,Fort Pierce,West Palm Beach,63.7,Customer Visit
...,...,...,...,...,...,...,...
1151,12/31/2016 13:24,12/31/2016 13:42,Business,Kar?chi,Unknown Location,3.9,Temporary Site
1152,12/31/2016 15:03,12/31/2016 15:38,Business,Unknown Location,Unknown Location,16.2,Meeting
1153,12/31/2016 21:32,12/31/2016 21:50,Business,Katunayake,Gampaha,6.4,Temporary Site
1154,12/31/2016 22:08,12/31/2016 23:51,Business,Gampaha,Ilukwatta,48.2,Temporary Site
1155,Totals,NaN,NaN,NaN,NaN,12204.7,NaN

In [ ]:
# convert data to datetime format
pd.to_datetime(data.loc[:1154, 'START_DATE*'], format='%m/%d/%Y %H:%M')

0      2016-01-01 21:11:00
1      2016-01-02 01:25:00
2      2016-01-02 20:25:00
3      2016-01-05 17:31:00
4      2016-01-06 14:42:00
               ...
1150   2016-12-31 01:07:00
1151   2016-12-31 13:24:00
1152   2016-12-31 15:03:00
1153   2016-12-31 21:32:00
1154   2016-12-31 22:08:00
Name: START_DATE*, Length: 1155, dtype: datetime64[ns]

In [ ]:
pd.to_datetime(data.iloc[:1154, 0], format='%m/%d/%Y %H:%M')

0      2016-01-01 21:11:00
1      2016-01-02 01:25:00
2      2016-01-02 20:25:00
3      2016-01-05 17:31:00
4      2016-01-06 14:42:00
               ...
1149   2016-12-30 23:06:00
1150   2016-12-31 01:07:00
1151   2016-12-31 13:24:00
1152   2016-12-31 15:03:00
1153   2016-12-31 21:32:00
Name: START_DATE*, Length: 1154, dtype: datetime64[ns]

In [ ]:
pd.to_datetime(data["START_DATE*"],format='%m/%d/%Y %H:%M', errors = 'coerce')

0      2016-01-01 21:11:00
1      2016-01-02 01:25:00
2      2016-01-02 20:25:00
3      2016-01-05 17:31:00
4      2016-01-06 14:42:00
               ...
1151   2016-12-31 13:24:00
1152   2016-12-31 15:03:00
1153   2016-12-31 21:32:00
1154   2016-12-31 22:08:00
1155                   NaT
Name: START_DATE*, Length: 1156, dtype: datetime64[ns]

In [ ]:
data.dtypes

START_DATE*     object
END_DATE*       object
CATEGORY*       object
START*          object
STOP*           object
MILES*         float64
PURPOSE*        object
dtype: object

Why the `START_DATA*` is still object? because it is not changed in the data frame

In [ ]:
data["START_DATE*"] = pd.to_datetime(data["START_DATE*"],format='%m/%d/%Y %H:%M', errors = 'coerce')

In [ ]:
data.dtypes

START_DATE*    datetime64[ns]
END_DATE*              object
CATEGORY*              object
START*                 object
STOP*                  object
MILES*                float64
PURPOSE*               object
dtype: object

In [ ]:
data["END_DATE*"] = pd.to_datetime(data["START_DATE*"],format='%m/%d/%Y %H:%M', errors = 'coerce')

In [ ]:
data.dtypes

START_DATE*    datetime64[ns]
END_DATE*      datetime64[ns]
CATEGORY*              object
START*                 object
STOP*                  object
MILES*                float64
PURPOSE*               object
dtype: object

### Dataset summarization

In [ ]:
data.describe()

             MILES*
count   1156.000000
mean      21.115398
std      359.299007
min        0.500000
25%        2.900000
50%        6.000000
75%       10.400000
max    12204.700000

In [ ]:
data.describe(include='all')

<ipython-input-38-589a52936347>:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  data.describe(include='all')
<ipython-input-38-589a52936347>:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  data.describe(include='all')

,START_DATE*,END_DATE*,CATEGORY*,START*,STOP*,MILES*,PURPOSE*
count,1155,1155,1155,1155,1155,1156.000000,653
unique,1154,1154,2,177,188,NaN,10
top,2016-06-28 23:34:00,2016-06-28 23:34:00,Business,Cary,Cary,NaN,Meeting
freq,2,2,1078,201,203,NaN,187
first,2016-01-01 21:11:00,2016-01-01 21:11:00,NaN,NaN,NaN,NaN,NaN
last,2016-12-31 22:08:00,2016-12-31 22:08:00,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,21.115398,NaN
std,NaN,NaN,NaN,NaN,NaN,359.299007,NaN
min,NaN,NaN,NaN,NaN,NaN,0.500000,NaN
25%,NaN,NaN,NaN,NaN,NaN,2.900000,NaN
50%,NaN,NaN,NaN,NaN,NaN,6.000000,NaN
75%,NaN,NaN,NaN,NaN,NaN,10.400000,NaN
max,NaN,NaN,NaN,NaN,NaN,12204.700000,NaN

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1156 entries, 0 to 1155
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   START_DATE*  1155 non-null   datetime64[ns]
 1   END_DATE*    1155 non-null   datetime64[ns]
 2   CATEGORY*    1155 non-null   object
 3   START*       1155 non-null   object
 4   STOP*        1155 non-null   object
 5   MILES*       1156 non-null   float64
 6   PURPOSE*     653 non-null    object
dtypes: datetime64[ns](2), float64(1), object(4)
memory usage: 63.3+ KB

In [ ]:
# count of unique start locations
data["START*"].value_counts()

Cary                   201
Unknown Location       148
Morrisville             85
Whitebridge             68
Islamabad               57
                      ...
Elmhurst                 1
Connecticut Avenue       1
University District      1
Winston Salem            1
Florence                 1
Name: START*, Length: 177, dtype: int64

### > Exercise 2

1. Create the following dataframe with “Umur” is object type and convert it into integer
![Capture2[.]PNG](attachment:Capture2[.]PNG)

2. Go to Kaggle, download the Titanic data and do the data basic exploration.\
head, tail, describe, info, size, shape

## Data Manipulation Tasks

There are five common data manipulations tasks:
1. Selecting/Indexing
2. Filtering
3. Sorting
4. Mutating/conditionally adding columns
5. Groupby/summarize

## 1. Selecting/Indexing

### `loc` and `iloc`

![](pandas/loc.png)

In [ ]:
data.head()

,START_DATE*,END_DATE*,CATEGORY*,START*,STOP*,MILES*,PURPOSE*
0,2016-01-01 21:11:00,2016-01-01 21:11:00,Business,Fort Pierce,Fort Pierce,5.1,Meal/Entertain
1,2016-01-02 01:25:00,2016-01-02 01:25:00,Business,Fort Pierce,Fort Pierce,5.0,NaN
2,2016-01-02 20:25:00,2016-01-02 20:25:00,Business,Fort Pierce,Fort Pierce,4.8,Errand/Supplies
3,2016-01-05 17:31:00,2016-01-05 17:31:00,Business,Fort Pierce,Fort Pierce,4.7,Meeting
4,2016-01-06 14:42:00,2016-01-06 14:42:00,Business,Fort Pierce,West Palm Beach,63.7,Customer Visit

### Positional indexing

In [ ]:
data.iloc[0:3, [1,3]]

            END_DATE*       START*
0 2016-01-01 21:11:00  Fort Pierce
1 2016-01-02 01:25:00  Fort Pierce
2 2016-01-02 20:25:00  Fort Pierce

In [ ]:
data.iloc[:, 3:6]

                START*             STOP*   MILES*
0          Fort Pierce       Fort Pierce      5.1
1          Fort Pierce       Fort Pierce      5.0
2          Fort Pierce       Fort Pierce      4.8
3          Fort Pierce       Fort Pierce      4.7
4          Fort Pierce   West Palm Beach     63.7
...                ...               ...      ...
1151           Kar?chi  Unknown Location      3.9
1152  Unknown Location  Unknown Location     16.2
1153        Katunayake           Gampaha      6.4
1154           Gampaha         Ilukwatta     48.2
1155               NaN               NaN  12204.7

[1156 rows x 3 columns]

In [ ]:
data.iloc[1:3, 3:6]

        START*        STOP*  MILES*
1  Fort Pierce  Fort Pierce     5.0
2  Fort Pierce  Fort Pierce     4.8

### Label indexing

In [ ]:
data.loc[0:5, :"START*"]

          START_DATE*           END_DATE* CATEGORY*           START*
0 2016-01-01 21:11:00 2016-01-01 21:11:00  Business      Fort Pierce
1 2016-01-02 01:25:00 2016-01-02 01:25:00  Business      Fort Pierce
2 2016-01-02 20:25:00 2016-01-02 20:25:00  Business      Fort Pierce
3 2016-01-05 17:31:00 2016-01-05 17:31:00  Business      Fort Pierce
4 2016-01-06 14:42:00 2016-01-06 14:42:00  Business      Fort Pierce
5 2016-01-06 17:15:00 2016-01-06 17:15:00  Business  West Palm Beach

In [ ]:
data.loc[:, ["START_DATE*" "MILES*"]].head()

KeyError: "None of [Index(['START_DATE*MILES*'], dtype='object')] are in the [columns]"

In [ ]:
data[:1154, ["START_DATE*", "MILES*"]]

TypeError: '(slice(None, 1154, None), ['START_DATE*', 'MILES*'])' is an invalid key

In [ ]:
a = data.loc[:, "START*"]

In [ ]:
type(a)

pandas.core.series.Series

In [ ]:
b = data.loc[:, ["START*"]].head()
b

        START*
0  Fort Pierce
1  Fort Pierce
2  Fort Pierce
3  Fort Pierce
4  Fort Pierce

In [ ]:
type(b)

pandas.core.frame.DataFrame

##### All function work in df, not in series

### > Exercise 3

1. Open My Uber Drives - 2016 dataset, select columns: `START_DATE*, START*, STOP*`

2. Extract the first & last 10 rows of the previous columns

## 2. Filtering

In [ ]:
df1 = data.loc[data["MILES*"] > 10, ["MILES*"]]
df1

       MILES*
4        63.7
9        16.5
10       10.8
22       15.1
23       11.2
...       ...
1134     11.9
1144     12.9
1152     16.2
1154     48.2
1155  12204.7

[316 rows x 1 columns]

In [ ]:
df1 = data.loc[data["MILES*"] > 10, ["START*"]]
df1

                START*
4          Fort Pierce
9              Jamaica
10            New York
22            New York
23            Downtown
...                ...
1134  Unknown Location
1144  Unknown Location
1152  Unknown Location
1154           Gampaha
1155               NaN

[316 rows x 1 columns]

In [ ]:
df2 = df1.loc[0:3]
df2

Empty DataFrame
Columns: [START*]
Index: []

#### find all rides that is greater that 10 miles

In [ ]:
data.loc[data["MILES*"] > 10]

,START_DATE*,END_DATE*,CATEGORY*,START*,STOP*,MILES*,PURPOSE*
4,2016-01-06 14:42:00,2016-01-06 14:42:00,Business,Fort Pierce,West Palm Beach,63.7,Customer Visit
9,2016-01-10 12:17:00,2016-01-10 12:17:00,Business,Jamaica,New York,16.5,Customer Visit
10,2016-01-10 15:08:00,2016-01-10 15:08:00,Business,New York,Queens,10.8,Meeting
22,2016-01-12 16:02:00,2016-01-12 16:02:00,Business,New York,Queens County,15.1,Meeting
23,2016-01-13 13:54:00,2016-01-13 13:54:00,Business,Downtown,Gulfton,11.2,Meeting
...,...,...,...,...,...,...,...
1134,2016-12-29 11:28:00,2016-12-29 11:28:00,Business,Unknown Location,Kar?chi,11.9,Meal/Entertain
1144,2016-12-29 23:14:00,2016-12-29 23:14:00,Business,Unknown Location,Kar?chi,12.9,Meeting
1152,2016-12-31 15:03:00,2016-12-31 15:03:00,Business,Unknown Location,Unknown Location,16.2,Meeting
1154,2016-12-31 22:08:00,2016-12-31 22:08:00,Business,Gampaha,Ilukwatta,48.2,Temporary Site
1155,NaT,NaT,NaN,NaN,NaN,12204.7,NaN

#### find all rides from NY

In [ ]:
data.loc[data["START*"] == "New York"]

,START_DATE*,END_DATE*,CATEGORY*,START*,STOP*,MILES*,PURPOSE*
10,2016-01-10 15:08:00,2016-01-10 15:08:00,Business,New York,Queens,10.8,Meeting
22,2016-01-12 16:02:00,2016-01-12 16:02:00,Business,New York,Queens County,15.1,Meeting
106,2016-02-14 16:35:00,2016-02-14 16:35:00,Business,New York,Long Island City,13.0,Meeting
423,2016-06-10 15:19:00,2016-06-10 15:19:00,Business,New York,Jamaica,16.3,Meeting

In [ ]:
data.loc[data["START*"] == "New York", ["MILES*", "STOP*"]]

     MILES*             STOP*
10     10.8            Queens
22     15.1     Queens County
106    13.0  Long Island City
423    16.3           Jamaica

#### Find out all rides from Cary & Morrisville

In [ ]:
# match multiple condition
st = data[data["START*"].isin(["Cary","New York"])]
st.head(n = 10)

,START_DATE*,END_DATE*,CATEGORY*,START*,STOP*,MILES*,PURPOSE*
7,2016-01-07 13:27:00,2016-01-07 13:27:00,Business,Cary,Cary,0.8,Meeting
8,2016-01-10 08:05:00,2016-01-10 08:05:00,Business,Cary,Morrisville,8.3,Meeting
10,2016-01-10 15:08:00,2016-01-10 15:08:00,Business,New York,Queens,10.8,Meeting
22,2016-01-12 16:02:00,2016-01-12 16:02:00,Business,New York,Queens County,15.1,Meeting
28,2016-01-15 11:43:00,2016-01-15 11:43:00,Business,Cary,Durham,10.4,Meal/Entertain
30,2016-01-18 14:55:00,2016-01-18 14:55:00,Business,Cary,Cary,4.8,Meal/Entertain
34,2016-01-20 10:36:00,2016-01-20 10:36:00,Business,Cary,Raleigh,17.1,Meeting
37,2016-01-21 14:25:00,2016-01-21 14:25:00,Business,Cary,Cary,1.6,Errand/Supplies
38,2016-01-21 14:43:00,2016-01-21 14:43:00,Business,Cary,Cary,2.4,Meal/Entertain
39,2016-01-21 16:01:00,2016-01-21 16:01:00,Business,Cary,Cary,1.0,Meal/Entertain

In [ ]:
st.iloc[0:5, :]

,START_DATE*,END_DATE*,CATEGORY*,START*,STOP*,MILES*,PURPOSE*
7,2016-01-07 13:27:00,2016-01-07 13:27:00,Business,Cary,Cary,0.8,Meeting
8,2016-01-10 08:05:00,2016-01-10 08:05:00,Business,Cary,Morrisville,8.3,Meeting
10,2016-01-10 15:08:00,2016-01-10 15:08:00,Business,New York,Queens,10.8,Meeting
22,2016-01-12 16:02:00,2016-01-12 16:02:00,Business,New York,Queens County,15.1,Meeting
28,2016-01-15 11:43:00,2016-01-15 11:43:00,Business,Cary,Durham,10.4,Meal/Entertain

In [ ]:
st.loc[0:5, :]

Empty DataFrame
Columns: [START_DATE*, END_DATE*, CATEGORY*, START*, STOP*, MILES*, PURPOSE*]
Index: []

In [ ]:
st.reset_index(inplace = True, drop = True)

In [ ]:
st

,START_DATE*,END_DATE*,CATEGORY*,START*,STOP*,MILES*,PURPOSE*
0,2016-01-07 13:27:00,2016-01-07 13:27:00,Business,Cary,Cary,0.8,Meeting
1,2016-01-10 08:05:00,2016-01-10 08:05:00,Business,Cary,Morrisville,8.3,Meeting
2,2016-01-10 15:08:00,2016-01-10 15:08:00,Business,New York,Queens,10.8,Meeting
3,2016-01-12 16:02:00,2016-01-12 16:02:00,Business,New York,Queens County,15.1,Meeting
4,2016-01-15 11:43:00,2016-01-15 11:43:00,Business,Cary,Durham,10.4,Meal/Entertain
...,...,...,...,...,...,...,...
200,2016-12-13 20:20:00,2016-12-13 20:20:00,Business,Cary,Cary,4.1,Meal/Entertain
201,2016-12-14 16:52:00,2016-12-14 16:52:00,Business,Cary,Cary,3.4,NaN
202,2016-12-14 17:22:00,2016-12-14 17:22:00,Business,Cary,Cary,3.3,NaN
203,2016-12-14 17:50:00,2016-12-14 17:50:00,Business,Cary,Morrisville,3.0,Meal/Entertain
204,2016-12-15 14:20:00,2016-12-15 14:20:00,Business,Cary,Morrisville,10.6,Meeting

#### Find out all rides to Cary & Morrisville

In [ ]:
data[data["STOP*"].isin(["Cary","Morrisville"])].shape

(287, 7)

### > Exercise 4

1. In My Uber Drives - 2016 dataset, find all trips that is greater than 10 miles and originated from New York and Morris

Hint: use `and`

## 3. Sorting

In [ ]:
data.sort_values(by=["MILES*"], ascending=False)

,START_DATE*,END_DATE*,CATEGORY*,START*,STOP*,MILES*,PURPOSE*
1155,NaT,NaT,NaN,NaN,NaN,12204.7,NaN
269,2016-03-25 16:52:00,2016-03-25 16:52:00,Business,Latta,Jacksonville,310.3,Customer Visit
270,2016-03-25 22:54:00,2016-03-25 22:54:00,Business,Jacksonville,Kissimmee,201.0,Meeting
881,2016-10-30 15:22:00,2016-10-30 15:22:00,Business,Asheville,Mebane,195.9,NaN
776,2016-09-27 21:01:00,2016-09-27 21:01:00,Business,Unknown Location,Unknown Location,195.6,NaN
...,...,...,...,...,...,...,...
1121,2016-12-27 12:53:00,2016-12-27 12:53:00,Business,Kar?chi,Kar?chi,0.6,Meal/Entertain
1110,2016-12-24 22:04:00,2016-12-24 22:04:00,Business,Lahore,Lahore,0.6,Errand/Supplies
44,2016-01-26 17:27:00,2016-01-26 17:27:00,Business,Cary,Cary,0.5,Errand/Supplies
420,2016-06-08 17:16:00,2016-06-08 17:16:00,Business,Soho,Tribeca,0.5,Errand/Supplies
120,2016-02-17 16:38:00,2016-02-17 16:38:00,Business,Katunayaka,Katunayaka,0.5,Errand/Supplies

In [ ]:
data.sort_values(by=["START*"], ascending=True)

,START_DATE*,END_DATE*,CATEGORY*,START*,STOP*,MILES*,PURPOSE*
911,2016-11-06 10:50:00,2016-11-06 10:50:00,Business,Agnew,Renaissance,2.4,NaN
910,2016-11-05 19:20:00,2016-11-05 19:20:00,Business,Agnew,Agnew,2.2,NaN
906,2016-11-04 21:04:00,2016-11-04 21:04:00,Business,Agnew,Cory,4.3,NaN
908,2016-11-05 08:34:00,2016-11-05 08:34:00,Business,Agnew,Renaissance,2.2,NaN
879,2016-10-30 12:58:00,2016-10-30 12:58:00,Business,Almond,Bryson City,15.2,NaN
...,...,...,...,...,...,...,...
893,2016-11-02 15:10:00,2016-11-02 15:10:00,Business,Whitebridge,Westpark Place,1.4,NaN
162,2016-02-26 09:06:00,2016-02-26 09:06:00,Business,Whitebridge,Westpark Place,6.3,NaN
577,2016-07-21 17:17:00,2016-07-21 17:17:00,Business,Whitebridge,Edgehill Farms,2.7,NaN
870,2016-10-28 18:13:00,2016-10-28 18:13:00,Business,Winston Salem,Asheville,133.6,Meeting
1155,NaT,NaT,NaN,NaN,NaN,12204.7,NaN

## 4. Conditionally adding column

In [ ]:
import numpy as np

In [ ]:
data["DISTANCE"] = np.where(data["MILES*"] > 5, "Long Trip", "Short Trip")

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1156 entries, 0 to 1155
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   START_DATE*  1155 non-null   datetime64[ns]
 1   END_DATE*    1155 non-null   datetime64[ns]
 2   CATEGORY*    1155 non-null   object
 3   START*       1155 non-null   object
 4   STOP*        1155 non-null   object
 5   MILES*       1156 non-null   float64
 6   PURPOSE*     653 non-null    object
 7   DISTANCE     1156 non-null   object
 8   YEAR         1156 non-null   object
 9   TIME_CAT     1156 non-null   object
dtypes: datetime64[ns](2), float64(1), object(7)
memory usage: 90.4+ KB

In [ ]:
data.head()

,START_DATE*,END_DATE*,CATEGORY*,START*,STOP*,MILES*,PURPOSE*,DISTANCE
0,2016-01-01 21:11:00,2016-01-01 21:11:00,Business,Fort Pierce,Fort Pierce,5.1,Meal/Entertain,Long Trip
1,2016-01-02 01:25:00,2016-01-02 01:25:00,Business,Fort Pierce,Fort Pierce,5.0,NaN,Short Trip
2,2016-01-02 20:25:00,2016-01-02 20:25:00,Business,Fort Pierce,Fort Pierce,4.8,Errand/Supplies,Short Trip
3,2016-01-05 17:31:00,2016-01-05 17:31:00,Business,Fort Pierce,Fort Pierce,4.7,Meeting,Short Trip
4,2016-01-06 14:42:00,2016-01-06 14:42:00,Business,Fort Pierce,West Palm Beach,63.7,Customer Visit,Long Trip

In [ ]:
data["DISTANCE"].value_counts()

Long Trip     654
Short Trip    502
Name: DISTANCE, dtype: int64

In [ ]:
data["YEAR"] = np.array("2020")
data

,START_DATE*,END_DATE*,CATEGORY*,START*,STOP*,MILES*,PURPOSE*,DISTANCE,YEAR
0,2016-01-01 21:11:00,2016-01-01 21:11:00,Business,Fort Pierce,Fort Pierce,5.1,Meal/Entertain,Long Trip,2020
1,2016-01-02 01:25:00,2016-01-02 01:25:00,Business,Fort Pierce,Fort Pierce,5.0,NaN,Short Trip,2020
2,2016-01-02 20:25:00,2016-01-02 20:25:00,Business,Fort Pierce,Fort Pierce,4.8,Errand/Supplies,Short Trip,2020
3,2016-01-05 17:31:00,2016-01-05 17:31:00,Business,Fort Pierce,Fort Pierce,4.7,Meeting,Short Trip,2020
4,2016-01-06 14:42:00,2016-01-06 14:42:00,Business,Fort Pierce,West Palm Beach,63.7,Customer Visit,Long Trip,2020
...,...,...,...,...,...,...,...,...,...
1151,2016-12-31 13:24:00,2016-12-31 13:24:00,Business,Kar?chi,Unknown Location,3.9,Temporary Site,Short Trip,2020
1152,2016-12-31 15:03:00,2016-12-31 15:03:00,Business,Unknown Location,Unknown Location,16.2,Meeting,Long Trip,2020
1153,2016-12-31 21:32:00,2016-12-31 21:32:00,Business,Katunayake,Gampaha,6.4,Temporary Site,Long Trip,2020
1154,2016-12-31 22:08:00,2016-12-31 22:08:00,Business,Gampaha,Ilukwatta,48.2,Temporary Site,Long Trip,2020
1155,NaT,NaT,NaN,NaN,NaN,12204.7,NaN,Long Trip,2020

In [ ]:
data["TIME_CAT"] = np.where(data["START_DATE*"] > "1/06/2016 14:00:00", "New Trip", "Old Trip")

In [ ]:
data

,START_DATE*,END_DATE*,CATEGORY*,START*,STOP*,MILES*,PURPOSE*,DISTANCE,YEAR,TIME_CAT
0,2016-01-01 21:11:00,2016-01-01 21:11:00,Business,Fort Pierce,Fort Pierce,5.1,Meal/Entertain,Long Trip,2020,Old Trip
1,2016-01-02 01:25:00,2016-01-02 01:25:00,Business,Fort Pierce,Fort Pierce,5.0,NaN,Short Trip,2020,Old Trip
2,2016-01-02 20:25:00,2016-01-02 20:25:00,Business,Fort Pierce,Fort Pierce,4.8,Errand/Supplies,Short Trip,2020,Old Trip
3,2016-01-05 17:31:00,2016-01-05 17:31:00,Business,Fort Pierce,Fort Pierce,4.7,Meeting,Short Trip,2020,Old Trip
4,2016-01-06 14:42:00,2016-01-06 14:42:00,Business,Fort Pierce,West Palm Beach,63.7,Customer Visit,Long Trip,2020,New Trip
...,...,...,...,...,...,...,...,...,...,...
1151,2016-12-31 13:24:00,2016-12-31 13:24:00,Business,Kar?chi,Unknown Location,3.9,Temporary Site,Short Trip,2020,New Trip
1152,2016-12-31 15:03:00,2016-12-31 15:03:00,Business,Unknown Location,Unknown Location,16.2,Meeting,Long Trip,2020,New Trip
1153,2016-12-31 21:32:00,2016-12-31 21:32:00,Business,Katunayake,Gampaha,6.4,Temporary Site,Long Trip,2020,New Trip
1154,2016-12-31 22:08:00,2016-12-31 22:08:00,Business,Gampaha,Ilukwatta,48.2,Temporary Site,Long Trip,2020,New Trip
1155,NaT,NaT,NaN,NaN,NaN,12204.7,NaN,Long Trip,2020,Old Trip

In [ ]:
data['START*'].value_counts().head()

Cary                201
Unknown Location    148
Morrisville          85
Whitebridge          68
Islamabad            57
Name: START*, dtype: int64

### Exercise 5

1. Using My Uber Drives - 2016 dataset, create a new column with the following condition:\
    a) >10    : Long Trip\
    b) 5-10   : Medium Trip\
    c) <5     : Short Trip